.capability {
  color: #434449;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    margin-bottom: 44px;
  }

  .container {
    max-width: 1360px;
  }

  &__title {
    font-family: Roboto;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 25px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;

    .capability__item {
      position: relative;
      width: 310px;

      background-color: #F9F9F9;
      border-radius: 20px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
      padding: 32px 13px 33px 26px;

      @media (min-width: 715px) {
        height: 602px;
      }

      @media (max-width: 768px) {
        width: 331px;
      }

      &__img__wrapper {
        width: 80px;
        height: 80px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 23px;

        &_1 {
          background-color: #FFC65D;
        }

        &_2 {
          background-color: #9033F9;
        }

        &_3 {
          background-color: #FF5966;
        }

        &_4 {
          background-color: #29AAE3;
        }
      }

      &__title-1 {
        max-width: 143px;
        font-family: Roboto;
        font-size: 22px;
        line-height: 25px;
        font-weight: 900;
        color: #29AAE3;
        margin-bottom: 19px;

        &_width {
          max-width: 220px;
        }
      }

      &__title-2 {
        font-family: Roboto;
        font-size: 20px;
        line-height: 23px;
        font-weight: 500;
        margin-bottom: 29px;
      }

      &__list-2 {
        list-style-type: disc;
        padding-left: 18px;
        margin-bottom: 42px;

        @media (max-width: 714px) {
          margin-bottom: 60px;
        }

        .capability__item__item-2:not(:last-child) {
          margin-bottom: 12px;
        }

        .capability__item__item-2::marker {
          color: #29AAE3;
        }
      }

      .capability__link {
        position: absolute;
        bottom: 33px;

        .capability__link__btn {
          font-family: Roboto;
          font-size: 20px;
          line-height: 23px;
          font-weight: 500;
          color: #FFFFFF;
          background-color: #54A757;
          border-radius: 26px;
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          padding: 12px 30px;
        }
      }
    }
  }
}