.hero {
  color: #FFFFFF;
  background-image: url(/img/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 180px;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    padding-bottom: 75px;
    margin-bottom: 44px;
  }

  &__title {
    max-width: 815px;
    font-family: Roboto;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    padding-top: 166px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 37px;
      padding-top: 101px;
      margin-bottom: 40px;
    }
  }

  &__list {
    max-width: 655px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &__item {
    font-family: Roboto;
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 23px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__btn {
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #54A757;
    border: none;
    border-radius: 26px;
    padding: 12px 30px;
    transition: 0.2s;

    @media (max-width: 768px) {
      padding: 12px 52.5px;
    }

    &:hover {
      background-color: #4FA152;
    }

    &:active {
      background-color: #0062CC;
    }
  }
}