.optimization {
  padding-top: 100px;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    padding-top: 44px;
    margin-bottom: 44px;
  }

  &__title {
    font-family: Roboto;
    color: #9033F9;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 32px;
      font-weight: 400;
      margin-bottom: 32px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    .optimization__item {
      &_2 {
        max-width: 425px;
        padding-top: 42px;

        @media (max-width: 768px) {
          padding-top: 0;
        }

        .optimization__text {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 44px;
        }

        .optimization__item__link {
          color: #FFFFFF;
          font-family: Roboto;
          font-size: 20px;
          line-height: 23px;
          font-weight: 500;
          background-color: #9033F9;
          border-radius: 26px;
          box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
          transition: 0.2s;
          padding: 12px 50px;

          &:hover {
            background-color: #842EE7;
          }

          &:active {
            background-color: #54A757;
          }
        }
      }
    }
  }
}